// CSS for creating mygame theme
// Use CSS variables if they need to be overwritten at run time by streamer's own brand colors, otherwise, SCSS avariables would work

// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans:400,600,700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
}


// Start: color variable names applicable to all themes

:root {
    --c-brand: rgb(29, 184, 243);
    --c-accent: rgb(126, 0, 255);
    --c-link: var(--c-accent);
    --c-warn: #e91916;
    --c-success: #00a865;
    --c-white: rgb(255, 255, 255);
    --c-black: rgb(0, 0, 0);
    --c-background: #f7f7f8;
    --c-background-base: #ffffff;
    --c-background-alt: #efeff1;
    --c-background-alt-2: #e6e6ea;
    --c-background-accent: #772ce8;
    --c-background-backdrop: rgba(0, 0, 0, 0.6);
    --c-border: #e4e4e7;
    --c-text: #0E0E10;
    --c-text-alt: #1F1F23;
    --c-text-alt-2: #53535F;
}

// Start: color variable names only applicable to mygame theme
// $--c-mygame-cyan: #00FAFA;

body {
    color: var(--c-text);
    fill: var(--c-text);
}

a {
    color: var(--c-link);
    fill: var(--c-link);
}

a:hover {
    opacity: 0.85;
}

a:active {
    opacity: 0.7;
}

.c-bg-white {
    background-color: var(--c-white) !important;
}

.c-white {
    color: var(--c-white) !important;
    fill: var(--c-white) !important;
}

.c-bg-white-opacity1 {
    background-color: var(--c-white-opacity1) !important;
}

.c-bg-black {
    background-color: var(--c-black) !important;
}

.c-bg-black-opacity5 {
    background-color: var(--c-black-opacity5) !important;
}

.c-black {
    color: var(--c-black) !important;
    fill: var(--c-black) !important;
}

.c-bg {
    background-color: var(--c-background) !important;
}

.c-bg-base {
    background-color: var(--c-background-base) !important;
}

.c-bg-alt {
    background-color: var(--c-background-alt) !important;
}

.c-bg-alt-opacity75 {
    background-color: var(--c-background-alt-opacity75) !important;
}

.c-bg-alt-2 {
    background-color: var(--c-background-alt-2) !important;
}

.c-bg-brand {
    background-color: var(--c-brand) !important;
}

.c-bg-accent {
    background-color: var(--c-background-accent) !important;
}

.c-base {
    color: var(--c-text) !important;
    fill: var(--c-text) !important;
}

.c-alt {
    color: var(--c-text-alt) !important;
    fill: var(--c-text-alt) !important;
}

.c-alt-2 {
    color: var(--c-text-alt-2) !important;
    fill: var(--c-text-alt-2) !important;
}


.c-brand {
    color: var(--c-brand) !important;
    fill: var(--c-brand) !important;
}

.c-warn {
    color: var(--c-warn) !important;
    fill: var(--c-warn) !important;
}

.c-success {
    color: var(--c-success) !important;
    fill: var(--c-success) !important;
}

.c-bg-warn {
    background-color: var(--c-warn) !important;
}

.c-success {
    color: var(--c-success) !important;
    fill: var(--c-success) !important;
}

.c-bg-success {
    background-color: var(--c-success) !important;
}

.c-border {
    border-color: var(--c-border);
}

.c-border-brand {
    border-color: var(--c-brand);
}

.backdrop {
    background: linear-gradient(to bottom, rgba(81, 193, 255, .8) 1%, rgba(130, 68, 253, .9) 100%);
}

.c-fortnite-bg {
    background: #fff linear-gradient(to bottom, rgba(81, 193, 255, .85) 1%, rgba(130, 68, 253, .95) 100%);
}

/* Start: Special Typeface */

.fortnite-typeface {
    font-family: 'Luckiest Guy', cursive;
}

.fortnite-event-title {
    color: #fff;
    background: var(--c-accent);
    position: relative;
}

.fortnite-event-title:after {
    background-color: inherit;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    /* clip-path: polygon(0 0, 0% 100%, 100% 100%); */
    content: "";
    height: 100%;
    width: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: -0.5px;
    top: 0;
    margin-left: 100%;
}

.fortnite-skewed {
    -webkit-clip-path: polygon(3% 0, 100% 3%, 100% 91%, 0 100%);
    clip-path: polygon(3% 0, 100% 3%, 100% 91%, 0 100%);
}

.fortnite-skewed-alt {
    -webkit-clip-path: polygon(10% 15%, 72% 5%, 60% 20%, 100% 12%, 92% 95%, 0 100%);
    clip-path: polygon(10% 15%, 72% 5%, 60% 20%, 100% 12%, 92% 95%, 0 100%);
}