@import url("shared/basscss.css");
/* Basscss | http://basscss.com | MIT License */

@import url("shared/styles.css");
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans:400,600,700&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
}

/* Start: colors */

:root {
    --c-brand: rgb(29, 184, 243);
    --c-accent: rgb(126, 0, 255);
    /* A channel accent color, usually bright */
    --c-background-base: #fff;
    --c-background-accent: var(--c-accent);
    --c-text-base: hsl(220, 0%, 10%);
    --c-text-alt: hsl(220, 0%, 20%);
    --c-text-alt-2: hsl(220, 0%, 44%);
    --c-border: rgba(255, 255, 255, 0.15);
    --c-live: #e91916;
    --c-alert: #e91916;
    --c-success: #14b866;
    --c-white: #fff;
    --c-black: #000;
}

body {
    color: var(--c-text-base);
    fill: var(--c-text-base);
}

.e-backdrop {
    background: linear-gradient(to bottom, rgba(81, 193, 255, .8) 1%, rgba(130, 68, 253, .9) 100%);
}

a {
    color: var(--c-accent);
    fill: var(--c-accent);
}

a:active {
    opacity: .8;
}

.e-c-bg-white {
    background-color: var(--c-white) !important;
}

.e-c-white {
    color: var(--c-white) !important;
    fill: var(--c-white) !important;
}

.e-c-bg-black {
    background-color: var(--c-black) !important;
}

.e-c-black {
    color: var(--c-black) !important;
    fill: var(--c-black) !important;
}

.e-c-bg-base {
    background-color: var(--c-background-base) !important;
}

.e-c-bg-body {
    background: #fff linear-gradient(to bottom, rgba(81, 193, 255, .85) 1%, rgba(130, 68, 253, .95) 100%);
}

.e-c-bg-alt {
    background-color: var(--c-background-alt) !important;
}

.e-c-bg-alt-2 {
    background-color: var(--c-background-alt-2) !important;
}

.e-c-bg-accent {
    background-color: var(--c-accent) !important;
}

.e-c-bg-success {
    background-color: var(--c-success) !important;
}

.e-c-bg-brand {
    background-color: var(--c-brand) !important;
}

.e-c-brand {
    color: var(--c-brand) !important;
    fill: var(--c-brand) !important;
}

.e-c-accent {
    color: var(--c-accent) !important;
    fill: var(--c-accent) !important;
}

.e-c-base {
    color: var(--c-text-base) !important;
    fill: var(--c-text-base) !important;
}

.e-c-alt {
    color: var(--c-text-alt) !important;
    fill: var(--c-text-alt) !important;
}

.e-c-alt-2 {
    color: var(--c-text-alt-2) !important;
    fill: var(--c-text-alt-2) !important;
}

/* Start: Special Typeface */

.fortnite-typeface {
    font-family: 'Luckiest Guy', cursive;
}

.fortnite-event-title {
    color: #fff;
    background: var(--c-accent);
    position: relative;
}

.fortnite-event-title:after {
    background-color: inherit;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    /* clip-path: polygon(0 0, 0% 100%, 100% 100%); */
    content: "";
    height: 100%;
    width: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: -0.5px;
    top: 0;
    margin-left: 100%;
}

.fortnite-skewed {
    -webkit-clip-path: polygon(3% 0, 100% 3%, 100% 91%, 0 100%);
    clip-path: polygon(3% 0, 100% 3%, 100% 91%, 0 100%);
}

.fortnite-skewed-alt {
    -webkit-clip-path: polygon(10% 15%, 72% 5%, 60% 20%, 100% 12%, 92% 95%, 0 100%);
    clip-path: polygon(10% 15%, 72% 5%, 60% 20%, 100% 12%, 92% 95%, 0 100%);
}