@import url("shared/basscss.css");
/* Basscss | http://basscss.com | MIT License */

@import url("shared/styles.css");
* {
    font-family: sans-serif;
}

html {
    background: transparent;
}

/* Start: colors */

:root, .e-theme-light {
    --c-accent: hsl(220, 100%, 64%);
    --c-accent-alt: hsl(220, 80%, 72%);
    --c-accent-alt-2: hsl(220, 80%, 43%);
    --c-background-body: hsl(220, 7%, 98%);
    --c-background-base: #fff;
    --c-background-alt: hsl(220, 7%, 94%);
    --c-background-alt-2: hsl(220, 7%, 90%);
    --c-background-backdrop: hsla(220, 7%, 6%, .6);
    --c-text-base: hsl(220, 7%, 10%);
    --c-text-alt: hsl(220, 7%, 20%);
    --c-text-alt-2: hsl(220, 7%, 44%);
    --c-border: hsl(220, 7%, 86%);
    --c-live: #e91916;
    --c-alert: #e91916;
    --c-success: #14b866;
    --c-white: #fff;
    --c-black: #000;
}

.e-theme-dark {
    --c-background-body: #000;
    --c-background-base: hsl(220, 7%, 10%);
    --c-background-alt: hsl(220, 7%, 14%);
    --c-background-alt-2: hsl(220, 7%, 20%);
    --c-background-backdrop: hsla(220, 7%, 6%, .9);
    --c-text-base: #fff;
    --c-text-alt: rgba(255, 255, 255, .8);
    --c-text-alt-2: rgba(255, 255, 255, .6);
    --c-border: rgba(255, 255, 255, 0.15);
}

body {
    color: var(--c-text-base);
    fill: var(--c-text-base);
}

.e-backdrop {
    background-color: var(--c-background-backdrop);
}

a {
    color: var(--c-accent);
    fill: var(--c-accent);
}

a:active {
    opacity: .8;
}

.e-c-bg-white {
    background-color: var(--c-white) !important;
}

.e-c-white {
    color: var(--c-white) !important;
    fill: var(--c-white) !important;
}

.e-c-bg-black {
    background-color: var(--c-black) !important;
}

.e-c-black {
    color: var(--c-black) !important;
    fill: var(--c-black) !important;
}

.e-c-bg-base {
    background-color: var(--c-background-base) !important;
}

.e-c-bg-body {
    background-color: var(--c-background-body) !important;
}

.e-c-bg-alt {
    background-color: var(--c-background-alt) !important;
}

.e-c-bg-alt-2 {
    background-color: var(--c-background-alt-2) !important;
}

.e-c-bg-accent {
    background-color: var(--c-accent) !important;
}

.e-c-bg-accent-alt {
    background-color: var(--c-accent-alt) !important;
}

.e-c-bg-accent-alt-2 {
    background-color: var(--c-accent-alt-2) !important;
}

.e-c-bg-success {
    background-color: var(--c-success) !important;
}

.e-c-accent {
    color: var(--c-accent) !important;
    fill: var(--c-accent) !important;
}

.e-c-base {
    color: var(--c-text-base) !important;
    fill: var(--c-text-base) !important;
}

.e-c-alt {
    color: var(--c-text-alt) !important;
    fill: var(--c-text-alt) !important;
}

.e-c-alt-2 {
    color: var(--c-text-alt-2) !important;
    fill: var(--c-text-alt-2) !important;
}