// The 1st layer of CSS, using only utility classes
@import "../1_utilities/utilities";

// The 2nd layer of CSS, defining the theme of the extension, e.g. a League of Legends game theme
// With theme specific prefix, e.g. "lol-" for League of Legends game theme
// Can use semantic class names
@import "../2_extension_theme/lol_theme";

// The 3rd layer of CSS, defining additional CSS classes that are used by individual extension type, and the Extension Config/Live Config pages
// With theme specific prefix, e.g. "lol-" for League of Legends game theme
// Can use semantic class names

html {
    /* Setting the rem unit */
    font-size: 10px;
}

.lol-empty {
    position: relative;
    right: 13rem;
}

.lol-panel {
    width: calc(100vw - 24rem);
    max-width: 92rem;
    height: calc(100vh - 14rem);
    max-height: 64rem;
    position: relative;
    /* to off set the dragons panel height */
    top: 2rem;
    left: 2rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    box-shadow: 0 0 2rem rgba(var(--c-black), 1), 0 0 3rem rgba(var(--c-black), .6), 0 0 4rem rgba(var(--c-black), .15), 0 0 5rem rgba(255, 234, 144, .15), 0 0 8rem rgba(255, 234, 144, .15), 0 0 10rem rgba(255, 234, 144, .15), 0 0 14rem rgba(252, 217, 64, 0.15);
    transition: all .3s ease-in-out;
    /* To transition between the expanded and compact view */
}

.lol-panel-border {
    border-style: solid;
    border-width: .5rem;
    padding: 2.9rem .5rem .4rem .5rem;
    -webkit-border-image: url(../assets/panel_border@2x.png) 74 stretch;
    /* Safari 3.1-5 */
    -o-border-image: url(../assets/panel_border@2x.png) 74 stretch;
    /* Opera 11-12.1 */
    border-image: url(../assets/panel_border@2x.png) 74 stretch;
    border-image-width: 3.6rem 3.6rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    cursor: url('../assets/hover_precise.png'), auto;
    cursor: -webkit-image-set( url('../assets/hover_precise.png') 1x, url('../assets/hover_precise@2x.png') 2x), auto;
}

.lol-dragons, .lol-dragon-soul {
    top: -5.7rem;
    cursor: url('../assets/hover_precise.png'), auto;
    cursor: -webkit-image-set( url('../assets/hover_precise.png') 1x, url('../assets/hover_precise@2x.png') 2x), auto;
}

.lol-dragons-border {
    margin-top: 1.1rem;
    height: 6rem;
    width: 42rem;
    border-style: solid;
    border-width: .5rem;
    -webkit-border-image: url(../assets/dragons_border@2x.png) 52 stretch;
    /* Safari 3.1-5 */
    -o-border-image: url(../assets/dragons_border@2x.png) 52 stretch;
    /* Opera 11-12.1 */
    border-image: url(../assets/dragons_border@2x.png) 52 stretch;
    border-image-width: 3.6rem 3.6rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
}

.lol-dragon-soul-border {
    width: 9.4rem;
    height: 6.8rem;
    background-image: url(../assets/dragon_soul_border@2x.png);
    background-size: cover;
}

.lol-dragon-soul-icon {
    width: 4.4rem;
    height: 4.4rem;
    background-size: cover;
}

.lol-dragon-bg-1 {
    margin-left: -1px;
    margin-right: -1px;
    background-image: url(../assets/dragon_bg_1.png);
    background-size: 100% 100%;
}

.lol-dragon-bg-2 {
    margin-left: -2px;
    margin-right: -2px;
    padding-right: .5rem;
    padding-left: .5rem;
    background-image: url(../assets/dragon_bg_2.png);
    background-size: 100% 100%;
}

.lol-champ-splash:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: inset 13rem -4rem 10rem var(--c-background);
}

.lol-timer {
    position: absolute;
    top: -4.3rem;
    right: 3rem;
    width: 10.8rem;
    height: 6rem;
    padding-top: 3.6rem;
    background-image: url(../assets/timer_border@2x.png);
    background-size: cover;
}

.lol-timer span {
    width: .7em;
    text-align: center;
}

.lol-feedback {
    transform: rotate(90deg);
    transform-origin: left bottom;
}

.lol-builds-content {
    width: 64rem;
}

.lol-champstats {
    width: 18rem;
    height: 36rem;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 1rem rgba(var(--c-black), .5), 0 0 1.5rem rgba(var(--c-black), .3), 0 0 2rem rgba(var(--c-black), .075), 0 0 2.5rem rgba(255, 234, 144, .075), 0 0 4rem rgba(255, 234, 144, .075), 0 0 5rem rgba(255, 234, 144, .075), 0 0 7rem rgba(252, 217, 64, 0.075);
    cursor: url('../assets/hover_precise.png'), auto;
    cursor: -webkit-image-set( url('../assets/hover_precise.png') 1x, url('../assets/hover_precise@2x.png') 2x), auto;
}

.lol-panel:hover .lol-panel-controls {
    opacity: 1;
    right: -3rem;
}

.lol-panel-controls {
    transition: all .3s ease-in-out;
    opacity: 0;
    right: 0rem;
    top: 4rem;
    box-shadow: 0 0 1rem rgba(var(--c-black), 1), 0 0 7rem rgba(252, 217, 64, 0.15);
}

.lol-champstats:hover .lol-champstats-controls {
    opacity: 1;
    right: -3rem;
}

.lol-champstats-controls {
    transition: all .3s ease-in-out;
    opacity: 0;
    right: 0rem;
    top: 0;
    box-shadow: 0 0 1rem rgba(var(--c-black), .5), 0 0 1.5rem rgba(var(--c-black), .3), 0 0 2rem rgba(var(--c-black), .075), 0 0 2.5rem rgba(255, 234, 144, .075), 0 0 4rem rgba(255, 234, 144, .075), 0 0 5rem rgba(255, 234, 144, .075), 0 0 7rem rgba(252, 217, 64, 0.075);
}

.lol-toggle {
    right: 7rem;
    opacity: 0;
    animation: .4s ease-out forwards;
}

@keyframes lol-toggle--show {
    0% {
        opacity: 0;
        margin-right: -5rem;
    }
    100% {
        opacity: 1;
    }
}

@keyframes lol-toggle--hide {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.9);
        opacity: 0;
    }
}

.lol-logo-particles {
    opacity: 0;
    transform: scale(.9);
    transition: opacity .5s ease-in-out, transform 1s ease-in-out;
}

.lol-toggle:hover .lol-logo-particles {
    opacity: 1;
    transform: scale(1);
}

.lol-logo-glow {
    animation: lol-logo-glow 1s ease-in-out infinite alternate;
}

.lol-toggle:hover {
    filter: brightness(1.05);
    transform: scale(1.025);
}

.lol-toggle:hover .lol-logo-glow {
    animation-play-state: paused;
}

.lol-logo-glow--paused {
    animation-play-state: paused;
    transition: all .3s ease-in-out;
    opacity: .5;
}

.lol-toggle:hover .lol-logo-glow--paused {
    animation-play-state: running;
    opacity: 1;
}

@keyframes lol-logo-glow {
    from {
        box-shadow: 0 0 .5rem rgba(var(--c-black), 1), 0 0 1.5rem rgba(240, 206, 109, 1), 0 0 2rem rgba(240, 206, 109, .5), 0 0 3rem rgba(253, 250, 151, .5), 0 0 4rem rgba(255, 234, 144, .5), 0 0 5rem rgba(255, 234, 144, .5), 0 0 6rem rgba(255, 234, 144, .5);
    }
    to {
        box-shadow: 0 0 .5rem rgba(var(--c-black), 1), 0 0 3rem rgba(240, 206, 109, .5), 0 0 4rem rgba(240, 206, 109, .5), 0 0 5rem rgba(255, 234, 144, .5), 0 0 6rem rgba(255, 234, 144, .5), 0 0 7rem rgba(255, 234, 144, .5), 0 0 8rem rgba(255, 234, 144, .5);
    }
}

@keyframes lol-logo-background {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.lol-max-h160rem {
    max-height: 16rem;
}

.lol-active-player {
    position: relative;
    margin-left: -3.2rem;
    padding-left: 3.2rem;
}

.lol-active-player:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    /* background-color: red; */
    background-image: url(../assets/player-back@2x.png);
    background-repeat: no-repeat;
    background-size: 26rem;
    background-position-x: 1.2rem;
    background-position-y: 40%;
}

.lol-active-player--right.lol-active-player {
    /* margin-left: inherit;
    padding-left: inherit; */
    margin-right: -3.2rem;
    padding-right: 3.2rem;
}

.lol-active-player--right.lol-active-player:before {
    transform: scaleX(-1);
    /* filter: FlipX; */
}

.lol-left, .lol-right {
    width: 50%;
}

/* Start: Responsive Layout */

@media (max-width:399px) {
    .lol-xs-hide {
        display: none!important
    }
    html {
        /* Setting the rem unit */
        font-size: 4px !important;
    }
    .lol-left, .lol-right {
        width: 100%;
    }
    .popover .popover-margin, .lol-mid-marker {
        display: none;
    }
    .lol-left {
        border-bottom: 1px solid rgba(54, 85, 72, .5);
    }
}

@media (min-width:400px) and (max-width:599px) {
    .lol-xs-hide {
        display: none!important
    }
    html {
        /* Setting the rem unit */
        font-size: 6px !important;
    }
    .lol-left, .lol-right {
        width: 100%;
    }
    .popover .popover-margin, .lol-mid-marker {
        display: none;
    }
    .lol-left {
        border-bottom: 1px solid rgba(54, 85, 72, .5);
    }
}

@media (min-width:600px) and (max-width:799px) {
    .lol-sm-hide {
        display: none!important
    }
    html {
        /* Setting the rem unit */
        font-size: 8px !important;
    }
    .lol-left, .lol-right {
        width: 100%;
    }
    .popover .popover-margin, .lol-mid-marker {
        display: none;
    }
    .lol-left {
        border-bottom: 1px solid rgba(54, 85, 72, .5);
    }
}

@media (min-width:800px) and (max-width:1199px) {
    .lol-md-hide {
        display: none!important
    }
    html {
        /* Setting the rem unit */
        font-size: 7px !important;
    }
    .h3 {
        font-size: 2.1rem !important;
    }
    .h4 {
        font-size: 1.7rem !important;
    }
    .h5 {
        font-size: 1.6rem !important;
    }
    .h6 {
        font-size: 1.5rem !important;
    }
    .h7 {
        font-size: 1.4rem !important;
    }
    .h8 {
        font-size: 1.3rem !important;
    }
    .lol-left {
        border-right: 1px solid rgba(54, 85, 72, .5);
    }
}

@media (min-width:1200px) {
    .lol-lg-hide {
        display: none!important;
    }
    html {
        /* Setting the rem unit */
        font-size: 10px !important;
    }
    .lol-left {
        border-right: 1px solid rgba(54, 85, 72, .5);
    }
}

/* Start: Compact Layout */

.lol-panel--compact {
    width: 48rem;
    max-height: 66rem;
}

.lol-panel--compact .lol-left, .lol-panel--compact .lol-right {
    width: 100%;
}

.lol-panel--compact .lol-left {
    border-bottom: 1px solid rgba(54, 85, 72, .5);
}

.lol-panel--compact .popover-margin {
    display: none !important;
}

.lol-panel--compact .lol-compact-hide {
    display: none !important;
}

.lol-compact-show {
    display: none;
    /* Hide in the non-compact mode */
}

.lol-panel--compact .lol-compact-show {
    display: inherit !important;
}