// The 1st layer of CSS, using only utility classes
@import "../1_utilities/utilities";

// The 2nd layer of CSS, defining the theme of the extension, e.g. a League of Legends game theme
// With theme specific prefix, e.g. "lol-" for League of Legends game theme
// Can use semantic class names
@import "../2_extension_theme/lol_theme";

// The 3rd layer of CSS, defining additional CSS classes that are used by individual extension type, and the Extension Config/Live Config pages
// With theme specific prefix, e.g. "lol-" for League of Legends game theme
// Can use semantic class names

html {
    /* Setting the rem unit */
    font-size: 2.4vw;
}

.lol-left, .lol-right {
    width: 100%;
}

.lol-max-w640rem {
    max-width: 64rem;
}

.lol-history-content {
    min-width: 36rem;
    max-width: 52rem;
}

.lol-scores {
    display: table;
}

.lol-scores-left, .lol-scores-right {
    display: table-row;
}

.lol-scores-item {
    display: table-cell;
}

@media (max-width:374px) {
    .lol-xs-hide {
        display: none!important
    }
}

@media (min-width:375px) and (max-width:410px) {
    .lol-sm-hide {
        display: none!important
    }
}

@media (min-width:411px) and (max-width:767px) {
    .lol-md-hide {
        display: none!important
    }
}

@media (min-width:768px) {
    html {
        font-size: 1.15vw!important;
    }
    .lol-lg-hide {
        display: none!important
    }
    .lol-left, .lol-right {
        width: 50%;
    }
    .lol-panel-border {
        display: flex;
        flex: 1 1 auto;
    }
    .lol-scores {
        display: flex;
        flex: 1 1 auto;
        top: -1rem;
    }
    .lol-scores-left, .lol-scores-right {
        display: flex;
        width: 50%;
    }
    .lol-scores-left {
        flex-direction: row-reverse;
    }
}

.lol-active-player {
    position: relative;
    margin-left: -1rem;
    padding-left: 1rem;
}

.lol-active-player:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    /* background-color: red; */
    background-image: url(../assets/player-back@2x.png);
    background-repeat: no-repeat;
    background-size: 26rem;
    background-position-x: 1.2rem;
    background-position-y: 40%;
}

.lol-c-bg-dead {
    margin-left: -.5rem;
    /* overwrite the value in lol.css */
}

.lol-panel-border {
    border-style: solid;
    border-width: .5rem;
    padding: 2.9rem .5rem .4rem .5rem;
    -webkit-border-image: url(../assets/panel_border_green@2x.png) 74 stretch;
    /* Safari 3.1-5 */
    -o-border-image: url(../assets/panel_border_green@2x.png) 74 stretch;
    /* Opera 11-12.1 */
    border-image: url(../assets/panel_border_green@2x.png) 74 stretch;
    border-image-width: 3.6rem 3.6rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    cursor: url('../assets/hover_precise.png'), auto;
    cursor: -webkit-image-set( url('../assets/hover_precise.png') 1x, url('../assets/hover_precise@2x.png') 2x), auto;
}

.lol-timer {
    position: absolute;
    top: -4.5rem;
    left: 3rem;
    width: 10.8rem;
    height: 6rem;
    padding-top: 3.4rem;
    background-image: url(../assets/timer_border@2x.png);
    background-size: cover;
}

.lol-timer span {
    width: .7em;
    text-align: center;
}

.lol-dragon-soul {
    top: -.3rem;
}

.lol-dragons-border {
    margin-top: .5rem;
    /* height: 6rem; */
    width: 42rem;
    border-style: solid;
    border-width: .5rem;
    -webkit-border-image: url(../assets/dragons_border@2x.png) 52 stretch;
    /* Safari 3.1-5 */
    -o-border-image: url(../assets/dragons_border@2x.png) 52 stretch;
    /* Opera 11-12.1 */
    border-image: url(../assets/dragons_border@2x.png) 52 stretch;
    border-image-width: 3.6rem 3.6rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
}

.lol-dragon-soul-border {
    width: 9.4rem;
    height: 6.8rem;
    background-image: url(../assets/dragon_soul_border@2x.png);
    background-size: cover;
}

.lol-dragon-soul-icon {
    width: 4.4rem;
    height: 4.4rem;
    background-size: cover;
}

.lol-dragon-bg-1 {
    margin-left: -1px;
    margin-right: -1px;
    background-image: url(../assets/dragon_bg_1.png);
    background-size: 100% 100%;
}

.lol-dragon-bg-2 {
    margin-left: -2px;
    margin-right: -2px;
    padding-right: .5rem;
    padding-left: .5rem;
    background-image: url(../assets/dragon_bg_2.png);
    background-size: 100% 100%;
}

.lol-champ-splash:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: inset 13rem -6rem 6rem black;
}